<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="timeService" class="ru.otus.servlet.TimeService">
        <property name="pattern" value="HH@mm@ss" />
    </bean>
    <bean id="cacheEngine" class="ru.otus.CacheEngine">
        <constructor-arg name="maxElements" value="10" type="int"/>
        <constructor-arg name="lifeTimeMs" value="2000" type="long"/>
    </bean>
    <bean id="dbService" class="ru.otus.DBService.hibernate.HibernateDBServiceImpl">
    </bean>

</beans>