<html xmlns="http://www.w3.org/1999/xhtml" content="text/html;">
<head>
    <title>Index</title>
</head>
<body>
<div class="top">
    <img src="logo.png"/>
    <br/>
    <a href="adduser">Add user</a>
    <a href="finduser">Find User</a>
    <a href="info">Users Info</a>
</div>
<div>
    <form action="adduser" method="POST">
        *Name: <input type="text" name="name"/>
        *Age: <input type="text" name="age"/>
        <input type="submit" value="Save">
    </form>
</div>
<p>${userInfo}</p>
</body>
</html>