<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app>

    <display-name>14.1</display-name>
    <description>Example of war file</description>

    <servlet>
        <servlet-name>AddUserServlet</servlet-name>
        <servlet-class>ru.otus.Servlet.AddUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddUserServlet</servlet-name>
        <url-pattern>/AddUser</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FindUserServlet</servlet-name>
        <servlet-class>ru.otus.Servlet.FindUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FindUserServlet</servlet-name>
        <url-pattern>/FindUser</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>InfoServlet</servlet-name>
        <servlet-class>ru.otus.Servlet.InfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InfoServlet</servlet-name>
        <url-pattern>/Info</url-pattern>
    </servlet-mapping>


</web-app>
